<h1>Macs</h1>
<div id="container">
    <div id="card" *ngFor ="let mac of macs">
        <img src={{mac.img}} alt="{{mac.name}}">
        <p>{{mac.name}}</p>
        <p class="price">₹{{mac.price}} <span>₹{{mac.ogprice}}</span> </p>
        <div class="btns">
            <button (click)="addToCart(mac)">add to cart</button>
            <button>buy now</button>
        </div>
    </div>
</div>

<div id="cart">
    <h2>Shopping Cart</h2>
    <div *ngIf="cart.length > 0; else emptyCart">
        <ul>
            <li *ngFor="let item of cart">
                <span> {{item.name}} - ${{item.price}} x {{item.quantity}} = ${{item.price * item.quantity}} </span>
            </li>
        </ul>
    </div>
    <ng-template #emptyCart>
        <p>Your cart is empty.</p>
    </ng-template>
</div>