li {
    list-style: none;
    background-color: white;
}

li:hover {
    transition: all 0.8s ease;
    font-weight: 900;
    font-size: 18px;
}

li img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
}

ul {
    display: flex;
    justify-content: center;
    column-gap: 35px;
}

nav {
    background-color: rgba(255, 255, 255, 0.791);
    border: 1px solid black;
    position: sticky;
    top: 50px;
    height: fit-content;
    border: 1px solid transparent;
    margin-bottom: 50px;
}

#menu {
    position: absolute;
    right: 20px;
    top: 0px;
}

#list li {
    padding: 10px;
    box-shadow: 0px 0px 8px black;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: black;
}

#addToCart {
    position: relative;
}

#count {
    position: absolute;
    top: -18px;
    right: -3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    z-index: 1;
    background-color: white;
}