<nav>
    <ul id="list">
        <li><a routerLink="/mac">Mac</a></li>
        <li><a routerLink="/phone">iPhone</a></li>
        <li><a routerLink="/ipad">iPad</a></li>
        <li><a routerLink="/watch">iWatch</a></li>
        <li><a routerLink="">TV & Home</a></li>
        <li><a routerLink="/music">Air Pods</a></li>
        <li><a routerLink="/accessories">Accessories</a></li>
        <li><a routerLink="/home">View All</a></li>
    </ul>
    <ul id="menu">
        <li id="wishList"><img src="https://cdn1.iconfinder.com/data/icons/dangdut/32/Add_to_Favorite-512.png" alt="" class="icon"> <p id="like"></p></li>
        <li id="search"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png" alt="" class="icon" > </li>
        <li id="addToCart"><img src="https://w7.pngwing.com/pngs/657/152/png-transparent-shopping-bags-trolleys-shopping-cart-shopping-cart-rectangle-logo-shopping-bags-trolleys-thumbnail.png" alt="" class="icon"> <p id="count">2</p></li>
    </ul>
</nav>

