* {
    margin: 0;
    padding: 0;
}

#img {
    width: 200px;
}

#container {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    border: 1px solid black;
}

ul {
    display: grid;
    padding: 50px;
    list-style: none;
    row-gap: 20px;
}

li {
    text-align: center;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
}
