<div id="container">
    <div>
        <ul id="leftMenu">
            <li>Profile</li>
            <li>Order History</li>
            <li>Favorite</li>
            <li>Payments</li>
            <li>Settings</li>
        </ul>
    </div>
    <div>
        <ul id="rightMenu">
            <li><img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png" alt="" id="img"></li>
            <li>Name</li>
            <li>EMail</li>
            <li>Points</li>
        </ul>
    </div>
</div>