<div class="Container">
    <h1 class='Heading'>Login Page</h1>
     <div>
        <form action="" class='form'>
            <label htmlFor="">UserName :</label>
            <input type="text" required/>
            <label htmlFor="">Password :</label>
            <input type="password" required/>
            <a href="">Forget Password?</a>
        </form>
    </div>
    <div class="buttons">
        <button class="btns btn1"><a routerLink="/login">Login</a></button>
        <button class="btns btn2"><a routerLink="/register">SignUp</a></button>
    </div>
</div>