* {
    margin: 0;
    padding: 0;
}

.Container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.84);
    padding: 20px;
    display: grid;
    row-gap: 20px;
}

.Container:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.689);
}

.Heading {
    text-align: center;
    text-transform: uppercase;
}

.form {
    display: grid;
    font-size: 22px;
    row-gap: 10px;
}

input {
    border: 0;
    border-radius: 10px;
    height: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
    text-indent: 10px;
    width: 300px;
}

input:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.689);
}

.buttons {
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
}

.btns {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
    border: 0;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.btns:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.689);
}

.btn1 {
    background-color: blueviolet;
    color: white;
}

.btn2 {
    background-color: white;
    color: blueviolet;
}


a {
    text-decoration: none;
}