<div class="Container">
    <h1 class='Heading'>SignUp Page</h1>
    <div>
        <form action="" class='form'>
            <label htmlFor="">Name :</label>
            <input type="text" required />
            <label htmlFor="">Email :</label>
            <input type="email" required />
            <label htmlFor="">UserName :</label>
            <input type="text" required />
            <label htmlFor="">Create Password :</label>
            <input type="password" required />
            <label htmlFor="">Confirm Password :</label>
            <input type="password" required />
        </form>
    </div>
    <div class="buttons">
        <button class="btns btn2"><a routerLink="/login">Login</a></button>
        <button class="btns btn1"><a routerLink="/register">SignUp</a></button>
    </div>
</div>